# flask.cfg

import os

# grab the folder of the top-level directory of this project
BASEDIR = os.path.abspath(os.path.dirname(__file__))
TOP_LELVEL_DIR = os.path.abspath(os.curdir)

# Update later by using a random number generator and  moving
# the actual key outside of the  source code under version control
SECRET_KEY = '\x02<<\xdc\xcc\x88i\xe5\xbc?\x84\x83\xbce\x9f\xb4{,f/\xf5\x91\xf8\x1b'
DEBUG = True

# SQLAlchemy
SQLALCHEMY_DATABASE_URI = 'postgresql://new_user:my_new_password@localhost/flask_family_recipes_app'
SQLALCHEMY_TRACK_MODIFICATIONS = True

# Forms
WTF_CSRF_ENABLED = True

# Bcrypt algorithm hashing rounds
BCRYPT_LOG_ROUNDS = 15
